* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:
    linear-gradient(
      135deg,
      #0f172a,
      #1e293b
    );

  color: white;

  font-family: Arial, sans-serif;

  min-height: 100vh;

  padding: 30px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

header p {
  color: #94a3b8;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 25px;
}

.section-title h2 {
  font-size: 28px;
}

.section-title button {
  background: #38bdf8;
  border: none;
  color: black;

  padding: 12px 18px;

  border-radius: 10px;

  cursor: pointer;

  font-weight: bold;

  transition: 0.3s;
}

.section-title button:hover {
  transform: translateY(-3px);
}

#clockContainer {
  display: grid;

  grid-template-columns:
    repeat(3, 1fr);

  gap: 25px;
}

.clock-card {
  background: rgba(255,255,255,0.08);

  backdrop-filter: blur(10px);

  border-radius: 20px;

  padding: 25px;

  box-shadow:
    0 0 20px rgba(0,0,0,0.3);

  transition: 0.3s;
}

.clock-card:hover {
  transform: translateY(-5px);
}

.clock-top {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 15px;
}

.clock-top img {
  width: 40px;
  height: 28px;

  object-fit: cover;

  border-radius: 4px;
}

.clock-city {
  font-size: 18px;
  font-weight: bold;
}

.clock-time {
  font-size: 42px;
  margin: 15px 0;
}

.clock-extra {
  color: #cbd5e1;
}

select {
  width: 100%;

  padding: 10px;

  border: none;

  border-radius: 10px;

  margin-top: 10px;

  background: #0f172a;
  color: white;
}

.difference-box {
  margin-top: 40px;

  background: rgba(255,255,255,0.08);

  padding: 25px;

  border-radius: 20px;
}

.difference-box h3 {
  margin-bottom: 10px;
}

.tools {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 25px;

  margin-top: 40px;
}

.tool-card {
  background: rgba(255,255,255,0.08);

  padding: 25px;

  border-radius: 20px;
}

.tool-card h2 {
  margin-bottom: 20px;
}

.display {
  font-size: 55px;

  text-align: center;

  margin: 30px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttons button {
  padding: 12px 18px;

  border: none;

  border-radius: 10px;

  background: #38bdf8;

  color: black;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.buttons button:hover {
  transform: translateY(-3px);
}

.timer-inputs {
  display: flex;
  gap: 10px;
}

.timer-inputs input {
  flex: 1;

  padding: 12px;

  border-radius: 10px;

  border: none;

  background: #0f172a;

  color: white;
}